<div class="container">
  <div class="col-md-6 createDiv">
    <a ui-sref="home" ui-sref-active="active">Home</a>
    <form>
      <p>Create New Note</p>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" ng-model="note.title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea ng-model="note.content"></textarea>
      </div>
      <div class="form-group">
        <label for="label">Label</label>
        <input type="text" ng-model="note.label">
      </div>
      <button class="btn btn-default" ng-click="createNote(note)">create Note</button>
    </form>
    <div ng-if="createsuccessmessage">{{createsuccessmessage}}
      <p ng-model="createsuccessmessage"></p>
    </div>
  </div>
</div>
